<h1>Nuevo Cliente</h1>

<h2>Datos personales</h2>
<%= simple_form_for @customer do |f|%>
  <%= render "form_fields", f: f %>

  <h2>Datos del vehículo</h2>
  <%= f.simple_fields_for :cars do |cf| %>
    <%= render "cars/form_fields", f: cf %>
  <% end %>

  <%= hidden_field_tag "appointment_id", @appointment.id if @appointment%>
  <%= f.submit "Registrar cliente" %>
<% end %>
