<table class="table-minimal">
  <thead>
    <tr>
      <th>Estado</th>
      <th class="date">Fecha</th>
      <th>Hora / Duración</th>
      <th>Cliente</th>
      <th>Ultima modificación</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% appointments.each do |appointment| %>
      <tr>
        <td>
          <% if appointment.booked? %>
            <span class="badge-alert">SOLICITADO</span>
          <% elsif appointment.confirmed? %>
            <span class="badge-success">CONFIRMADO</span>
          <% elsif appointment.cancelled? %>
            <span class="badge-error">CANCELADO</span>
          <% elsif appointment.uncompleted? %>
            <span class="badge-alert">INCOMPLETO</span>
          <% end %>
        </td>
        <td class="date"><%= appointment.date_on %></td>
        <td>
          <%= appointment.time %> /
          <%= appointment.duration %> horas
        </td>
          <% if appointment.uncompleted? %>
            <td class="muted">Ninguno</td>
          <% else %>
            <td><%= appointment.customer_name %></td>
          <% end %>
        <td><%= appointment.modified_since %></td>
        <td>
          <%= link_to "Ver detalles", appointment_path(appointment) %>
        </td>
        <td>
          <% if appointment.booked? %>
              <%= button_to "Confirmar", confirm_appointment_path(appointment),
                method: :put, class: "btn-confirmation" %>
          <% elsif appointment.confirmed?  %>
            <%= button_to "Cancelar", cancel_appointment_path(appointment), data:
            { confirm: "Esta seguro que desea cancelar este turno?" }, method:
              :put, class: "btn-danger" %>
          <% elsif appointment.uncompleted?  %>
              <%= link_to "Agregar cliente",
                new_appointment_completion_path(appointment_id: appointment.id) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
