<h1>Gestión de Turnos</h1> <% if @appointments.any? %>
  <ul class="accordion-tabs-minimal">
    <li class="tab-header-and-content">
      <a href="#" class="tab-link is-active">Turnos Solicitados</a>
      <div class="tab-content">
        <div class="booked-appointments">
          <%= form_tag confirm_appointments_path, method: :put do %>
            <%= render partial: "appointments_table",
              locals:{ appointments: @appointments.booked } %>
            <%= submit_tag "Confirmar marcados" %>
          <% end %>
        </div>
      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="#" class="tab-link">Turnos Confirmados</a>
      <div class="tab-content">
        <div class="confirmed-appointments">
          <%= render partial: "appointments_table",
            locals: { appointments: @appointments.confirmed } %>
        </div>
      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="#" class="tab-link">Turnos Cancelados</a>
      <div class="tab-content">
        <div class="cancelled-appointments">
          <%= render partial: "appointments_table",
            locals: { appointments: @appointments.cancelled } %>
        </div>
      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="#" class="tab-link">Incompletos</a>
      <div class="tab-content">
        <div class="uncompleted-appointments">
          <%= render partial: "appointments_table",
            locals: { appointments: @appointments.uncompleted } %>
        </div>
      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="#" class="tab-link">Todos</a>
      <div class="tab-content">
        <div class="all-appointments">
          <%= render partial: "appointments_table",
            locals: { appointments: @appointments } %>
        </div>
      </div>
    </li>
  </ul>
<% else %>
  <p>No se encontraron turnos.</p>
<% end %>
