<% if @appointments.any? %>
  <section class="booked-appointments">
    <h1>Turnos solicitados</h1>
    <table class="table-minimal">
      <thead>
        <tr>
          <th class="date">Fecha</th>
          <th>Hora / Duración</th>
          <th>Cliente</th>
          <th>Tiempo desde solicitud</th>
          <th><a href="#" id="select-all-button">Marcar todos</th>
        </tr>
      </thead>
      <tbody>
        <% @appointments.booked.each do |appointment| %>
          <tr>
            <td class="date"><%= appointment.date_on %></td>
            <td>
              <%= appointment.time %> /
              <%= appointment.duration %> horas
            </td>
            <td><%= appointment.customer_name %></td>
            <td><%= appointment.booked_since %></td>
            <td>
              <%= form_tag confirm_appointments_path, method: :put do%>
                <label>
                  <%= check_box_tag "appointment_ids[]",
                    appointment.id,
                    false,
                    class: "checbox-button" %>
                </label>
              <% end %>
            </td>
          </tr>
      </tbody>
  <% end %>
    <%= submit_tag "Confirmar marcados" %>
    </table>
  </section>
<% else %>
  <p>No se encontraron turnos.</p>
<% end %>
