<h1>Lista de turnos</h1>

<% if @appointments.any? %>
  <section class="booked-appointments">
    <h2>Turnos solicitados (esperando confirmación)</h2>
    <%= form_tag confirm_appointments_path, method: :put do%>
    <table class="table-minimal">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora / Duración</th>
          <th>Cliente</th>
          <th>Tiempo desde solicitud</th>
          <th><button id="select-all-button">Seleccionar todos</button></th>
        </tr>
      </thead>
        <tbody>
          <% @appointments.booked.each do |appointment| %>
            <tr>
              <td><%= appointment.date_on %></td>
              <td>
                <%= appointment.time %> /
                <%= appointment.duration %> horas
              </td>
              <td><%= appointment.customer_name %></td>
              <td><%= appointment.booked_since %></td>
              <td>
                <label>
                <%= check_box_tag "appointment_ids[]",
                  appointment.id,
                  false,
                  class: "checbox-button" %>
                Confirmar turno
                </label>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
    <%= submit_tag "Salvar cambios" %>
  <% end %>
  </section>
<% else %>
  <p>No se encontraron turnos.</p>
<% end %>
