<h1>Solicitud de Turnos</h1>
<%= simple_form_for @appointment do |f| %>
  <%= f.input :date_on, as: :string, autofocus: true %>
  <%= f.input :starts_at, as: :string,
    disabled: true,
    placeholder: "Primero seleccione una fecha" %>
  <%= f.input  :car_id, collection: current_user.cars,
                     label: "Seleccione el vehículo",
                     selected: current_user.cars.first,
                     label_method: :description,
                     required: true %>
  <%= f.association :job_types, as: :check_boxes,
                                label: "Trabajos",
                                required: true,
                                blank: false %>
  <%= f.input :note, as: :text, label: "Notas", input_html: {rows: 4} %>

  <%= f.submit "Solicitar turno", class:"submit-appointment-button" %>
<% end %>

