<h1>Solicitud de Turnos</h1>
<%= simple_form_for setup_appointment(@appointment) do |f| %>
  <%= f.input :date_on, as: :string, autofocus: true %>
  <%= f.input :starts_at, as: :string,
    disabled: true,
    placeholder: "Primero seleccione una fecha" %>
  <%= f.input  :car_id, collection: current_user.cars,
    label: "Seleccione el vehículo",
    selected: current_user.cars.first,
    label_method: :description,
    required: true %>
  <%= f.simple_fields_for :assignments do |ff| %>
    <div>
    <%= ff.check_box :_destroy,
      {checked: ff.object.persisted?}, "0", "1" %>
    <%= ff.label :_destroy, ff.object.job_type.name %>
    <%= ff.hidden_field :job_type_id %>
    </div>
  <% end %>
  <%= f.input :note, as: :text, label: "Notas", input_html: {rows: 4} %>

  <%= f.submit "Solicitar turno", class:"submit-appointment-button" %>
<% end %>

