<h1>Reserva de Turnos</h1>
<%= simple_form_for @appointment do |f| %>
  <%= f.input :date_on, as: :string, autofocus: true %>
  <%= f.input :starts_at, as: :string,
    disabled: true,
    placeholder: "Primero seleccione una fecha" %>
  <%= f.input  :car, collection: current_user.cars.map(&:description), prompt: "Seleccione el vehículo", selected: current_user.cars.first %>

  <%= f.submit "Solicitar turno" %>
<% end %>

